{
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "RempSQLServer": "Server=YOUR_SERVER;Database=YOUR_DATABASE;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;",
    "RempMongoDb": "mongodb://YOUR_MONGO_USERNAME:YOUR_MONGO_PASSWORD@YOUR_MONGO_HOST:YOUR_MONGO_PORT"
  },
  "DatabaseSettings": {
    "DatabaseName": "YOUR_MONGO_DATABASE_NAME"
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "Warning",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Using": ["Serilog.Sinks.Console", "Serilog.Sinks.File"],
    "WriteTo": [
      {
        "Name": "Console"
      },
      {
        "Name": "File",
        "Args": {
          "path": "logs/log-.txt",
          "rollingInterval": "Day",
          "formatter": "Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact"
        }
      }
    ],
    "Enrich": ["FromLogContext", "WithMachineName", "WithProcessId", "WithThreadId"]
  },
  "Jwt": {
    "Key": "YOUR_JWT_SECRET_KEY_AT_LEAST_32_CHARACTERS",
    "Issuer": "Recam.API",
    "Audience": "Recam.API",
    "ExpiresInMinutes": 60
  },
  "EmailSettings": {
    "Name": "YOUR_SENDER_NAME",
    "SmtpServer": "YOUR_SMTP_SERVER",
    "SmtpPort": 465,
    "SenderEmail": "YOUR_SENDER_EMAIL",
    "Password": "YOUR_SMTP_PASSWORD_OR_AUTH_CODE"
  }
}
